<nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/students">Manage Data</a></li>
          
                    <li class="dropdown"><a href="#"><span>login/register</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/login">login</a></li>
              <li><a href="/register">register</a></li>
              <li><a href="/logout">logout</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>